@import 'react-day-picker/dist/style.css';
/* react-day-picker styles */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide number input arrows */
input[type="number"].no-arrows::-webkit-outer-spin-button,
input[type="number"].no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"].no-arrows {
  -moz-appearance: textfield; /* Firefox */
}